  
  <% user=User.find(comment.user_id) %>
  <p>
  <%= user.username %><br />
  <%= image_tag("user1.png", :size => "8*8") %>  
  
  </p>
  <p>
    <%=comment.body %>
  </p>

<%= link_to 'Edit', edit_article_comment_path(@article, comment) %> |
<%= link_to 'Delete', article_comment_path(@article, comment), :confirm => 'Are you sure?', :method => :delete %>
