<p id="notice"><%= notice %></p>
<h2> Article </h2>
<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>


<h2>Comments</h2>
<%= render :partial => @article.comments %>
<br />
<h4> Add Comment </h4>
<%= form_for([@article, @article.comments.build]) do |f| %>
<div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
</div>
  <%if signed_in? %>
  <p><%= f.submit %></p>
  <% else %>
  <%=link_to "Sign In" , signin_path %>
  <%end %>
<% end %>
